src/main/resources/wsdl/queuelog.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.example.org/demo/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="queuelogService"
	targetNamespace="http://www.example.org/demo/">
	<wsdl:types>
		<xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.example.org/demo/"
			elementFormDefault="unqualified" version="1.0">
			<xsd:element name="enqueuelog">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" name="nivel" type="xsd:string" />
						<xsd:element minOccurs="1" name="fechaEvento" type="xsd:string" />
						<xsd:element minOccurs="1" name="clase" type="xsd:string" />
						<xsd:element minOccurs="1" name="observacion" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="enqueuelogResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" name="estado" type="xsd:string" />
						<xsd:element minOccurs="1" name="motivoEstado" type="xsd:string" />
						<xsd:element minOccurs="1" name="fechaRespuesta" type="xsd:dateTime" />
						<xsd:element minOccurs="1" name="codigoEstado" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>			
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="enqueuelogRequest">
		<wsdl:part element="tns:enqueuelog" name="parameters" />
	</wsdl:message>
	<wsdl:message name="enqueuelogResponse">
		<wsdl:part element="tns:enqueuelogResponse"
			name="parameters" />
	</wsdl:message>	
	<wsdl:portType name="QueueLogSystemServices">
		<wsdl:operation name="enqueuelog">
			<wsdl:input message="tns:enqueuelogRequest" />
			<wsdl:output message="tns:enqueuelogResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="QueueLogServicesEndpoint"
		type="tns:QueueLogSystemServices">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="enqueuelog">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="enqueuelogRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="enqueuelogResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="QueueLogService">
		<wsdl:port binding="tns:QueueLogServicesEndpoint"
			name="QueueLogServicesEndpoint">
			<soap:address
				location="http://localhost:8181/cxf/services/QueueLogService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>